# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\myProject\spring_mvc_222-Zolotarev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
